<div class="cines">
  <div *ngFor="let sede of sedes" class="sede">
    <div class="row">
      <h3 class="title">{{ sede.estado }}</h3>
    </div>
    <div class="row">
      <div
        *ngFor="let cine of sede.cines"
        class="card col-md-2"
        style="width: 18rem;"
      >
        <div class="card-body" (click)="selectCine(cine.nombreFiscal)">
          <h5 class="card-title">{{ cine.nombreFiscal }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ cine.ubicacion }}</h6>
          <p class="card-text">
            Abierto desde las {{ cine.horarioInicio }} hasta las
            {{ cine.horarioFin }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
