<div class="general_agileits_genres">
  <h4 class="title-component">FUNCIONES</h4>
</div>
<div class="cartelera row">
  <div *ngFor="let funcion of funciones" class="col-md-2">
    <div class="card" style="width: 18rem;">
      <img
        [src]="funcion.imagenVertical"
        class="card-img-top"
        alt="imagen pelicula"
        height="250"
      />
      <div class="card-body">
        <h5 class="card-title">{{ funcion.titulo }}</h5>
        <p class="card-text">{{ funcion.descripcion }}</p>
        <a class="btn btn-primary reservar-btn" (click)="reservar(funcion)"
          >Reservar</a
        >
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Idioma: {{ funcion.idioma }}</li>
        <li class="list-group-item">Subtitulos: {{ funcion.subtitulo }}</li>
        <li class="list-group-item">
          Hora de inicio: {{ funcion.horarioInicio }}
        </li>
        <li class="list-group-item">
          Sala: {{ funcion.idSala }} - {{ funcion.tipoSala }} -
          {{ funcion.TipoRepro }}
        </li>
      </ul>
    </div>
  </div>
</div>
