<div>
  <div class="faq">
    <div class="general_agileits_genres">
      <h4 class="title-component">BUTACAS</h4>
    </div>
    <div class="container">
      <div class="col-md-12">
        <h5>{{ textoPasillos }}</h5>
      </div>
      <div class="col-md-12">
        <h5>{{ textoEntradas }}</h5>
      </div>
      <div class="col-md-12">
        <h5>{{ textoSalidas }}</h5>
      </div>
    </div>
    <div class="container">
      <div *ngIf="validarPasillo()">
        <div *ngFor="let f of filas()">
          <div class="row">
            <div *ngFor="let c of columnas(2)">
              <img
                class="butaca"
                *ngIf="!validateButaca(f, c)"
                (click)="reservarAsiento(f, c)"
                src="../../../assets/images/asiento.png"
                alt="asiento"
                height="42"
                width="42"
              />
              <img
                class="butaca"
                *ngIf="validateButaca(f, c)"
                (click)="reservarAsiento(f, c)"
                src="../../../assets/images/asientoComprado.png"
                alt="asiento"
                height="42"
                width="42"
              />
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!validarPasillo()">
        <div *ngFor="let f of filas()">
          <div class="row">
            <div *ngFor="let c of columnas(1)">
              <img
                class="butaca"
                *ngIf="!validateButaca(f, c)"
                (click)="reservarAsiento(f, c)"
                src="../../../assets/images/asiento.png"
                alt="asiento"
                height="42"
                width="42"
              />
              <img
                class="butaca"
                *ngIf="validateButaca(f, c)"
                src="../../../assets/images/asientoComprado.png"
                alt="asiento"
                (click)="reservarAsiento(f, c)"
                height="42"
                width="42"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <a class="btn btn-primary comprar-btn" (click)="comprar()"
        >Comprar butacas</a
      >
    </div>
  </div>
</div>
