<div class="container cartelera">
  <div class="general_agileits_genres">
    <h4 class="title-component">CATELERA</h4>
  </div>
  <ngb-carousel *ngIf="images" class="carousel" style="height: 25rem; width: 25rem">

    <ng-template ngbSlide *ngFor="let funcion of funciones">
      <img [src]="funcion.pelicula.imagen" alt="slide" class="carousel-img" height="400" width="100" />
      <div class="carousel-caption">
        <h3>{{ funcion.pelicula.titulo }}</h3>
        <div class="verpeli" (click)="verPelicula(funcion)" style="color: blue">CLICK PARA VER FUNCIONES</div>
        <p>
          En sala {{ funcion.sala.id }}, tipo {{ funcion.sala.tipo }} {{ funcion.sala.repro }}
        </p>
        <h5>
          {{ funcion.pelicula.genero }} - {{ funcion.pelicula.censura }}
        </h5>
        <h6>{{funcion.idioma}}, Subtitulos en {{ funcion.subtitulos }}</h6>
      </div>
      </ng-template>

  </ngb-carousel>
</div>
